.userList {
    padding: 1rem 0;
    cursor: pointer;


    .main {
        padding: 0.25rem;
        margin: 0.5rem;
        color: aliceblue;
        border-radius: 1rem;
        text-align: center;
        font-weight: 600;
    }

}