@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'mixins.scss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 7, 39, 34;
    --background-end-rgb: 2, 11, 10;
  }
}

// start #072722;
// back #020b0a;

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  @include custom-scrollbar;

}

// 103A34
.verticalNavigation {
  height: 100vh;
  max-width: 325px;
  padding: 2rem 0;
  background-color: #103A34;
  display: flex;
  flex-direction: column;
}

.chatContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;

  .messageContainer {
    overflow-y: auto;
    @include custom-scrollbar;
    // /* IE and Edge */
    // -ms-overflow-style: none;
    // /* Firefox */
    // scrollbar-width: none;

    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }

}