@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 7, 39, 34;
    --background-end-rgb: 2, 11, 10;
  }
}

// start #072722;
// back #020b0a;

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  height: 100vh;
}

// 103A34
.verticalNavigation {
  padding: 2rem;
  background-color: #103A34;
}

.chatContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}