@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #0b483f;
  }

  &::-webkit-scrollbar-thumb {
    background: #14b8a6;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #0e8e7a;
  }
}